.header-container {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 72px;
    height: 64px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.logo-container {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    cursor: pointer;
    transition: opacity 0.15s;
}
    .logo-container:hover {
        opacity: 0.7;
    }
    .logo-container:active {
        opacity: 0.5;
    }

.header-link-container {
    display: flex;
    gap: 12px;
    text-decoration: none;
    font-size: 18px;
    color: #F9FAF8;
}
    .header-link {
        cursor: pointer;
        transition: opacity 0.15s;
    }
        .header-link:hover {
            opacity: 0.7;
        }
        .header-link:active {
            opacity: 0.5;
        }