
.div-one {
    background-color: #1F2937;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 72px;
    gap: 24px
}

    .hero-text-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px
    }
        .hero-text {
            font-size: 48px;
            font-weight: 900;
            color: #F9FAF8;
        }
        .hero-text-secondary {
            font-size: 18px;
            color: #e5e7eb;
        }

    .hero-text-image {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #5e6063;
        color: #e5e7eb;
        height: 180px;
        max-width: 400px;
    }

    .sign-up-button {
        border-radius: 8px;
        border: none;
        background-color: #3882F6;
        align-self: flex-start;
        padding: 6px 24px;
        font-weight: bold;
        color: #F9FAF8;
        cursor: pointer;
        transition: opacity 0.15s;
    }
        .sign-up-button:hover {
            opacity: 0.8;
        }
        .sign-up-button:active {
            opacity: 0.6;
        }

.div-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 0 72px 0;
}
    .random-information {
        font-size: 36px;
        font-weight: 900;
        color: #1f2937;
    }
    .random-information-subtext-container {
        display: flex;
        padding: 0 160px;
        justify-content: center;
        gap: 18px;
    }
        .random-information-subtext {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-basis: 150px;
            flex: 1;
        }
            .subtext-illustration {
                height: 120px;
                width: 120px;
                border: 3px solid #3882F6;
                border-radius: 12px;
                cursor: pointer;
                transition: background-color 0.15s;
            }
                .subtext-illustration:hover {
                    background-color: #e5e7eb;
                }
                .subtext-illustration:active {
                    background-color: #bbbbbb;
                }

.div-three {
    background-color: #e5e7eb;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 72px;
}
    .testimonial {
        font-size: 36px;
        font-style: italic;
        font-weight: lighter;
    }
    .testimonial-author {
        align-self: flex-end;
        font-size: 24px;
        font-weight: bold;
    }

.div-four {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .call-to-action-container {
        background-color: #3882F6;
        width: 600px;
        border-radius: 8px;
        color: #F9FAF8;
        display: flex;
        justify-content: space-between;
        padding: 24px 96px;
        align-items: center;
        line-height: 4px;
    }
        .call-to-action-text {
            font-size: 24px;
            font-weight: bold;
        }
        .sign-up-button-two {
            color: #F9FAF8;
            border: 1px solid #F9FAF8;
            background-color: #3882F6;
            padding: 6px 18px;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.15s;
        }
            .sign-up-button-two:hover {
                background-color: #619eff;
            }
            .sign-up-button-two:active {
                background-color: #70a7ff;
            }


@media (min-width:1300px) {
    .div-one {
        padding: 24px 200px;
    }
    .div-two {
        padding: 24px 200px;
    }
    .div-three {
        padding: 24px 200px;
    }
    .div-four {
        padding: 24px 200px;
    }
}

@media (min-width: 1800px) {
    .div-one {
        padding: 24px 320px;
    }
    .div-two {
        padding: 24px 320px;
    }
    .div-three {
        padding: 24px 320px;
    }
    .div-four {
        padding: 24px 320px;
    }
}