
.div-one {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 72px 72px;
    gap: 24px
}

    .hero-text-container {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        gap: 8px;
    }
        .hero-text {
            font-size: 48px;
            font-weight: 900;
            color: #F9FAF8;
        }
        .hero-text-secondary {
            font-size: 18px;
            color: #e5e7eb;
        }

    .hero-text-image {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #e5e7eb;
        height: 180px;
        max-width: 400px;
    }
        .hero-text-image img {
            height: 120px;
        }

    .sign-up-button {
        border-radius: 8px;
        border: none;
        background-color: #3882F6;
        align-self: flex-start;
        padding: 6px 24px;
        font-weight: bold;
        color: #F9FAF8;
        cursor: pointer;
        transition: opacity 0.15s, background-color 0.25s, color 0.25s;
        margin-top: 8px;
    }
        .sign-up-button:hover {
            background-color: #F9FAF8;
            color: #3882F6;
        }
        .sign-up-button:active {
            opacity: 0.7;
        }

.div-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 0 72px 0;
}
    .random-information {
        font-size: 36px;
        font-weight: 900;
        color: #1f2937;
    }
    .random-information-subtext-container {
        display: flex;
        flex-wrap: wrap;
        padding: 0 160px;
        justify-content: center;
        gap: 18px;
    }
        .random-information-subtext {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-basis: 150px;
            flex: 1;
        }
             .subtext-illustration img {                 height: 120px;
                object-fit: cover;
                border-radius: 12px;
                border: 2px solid #3882F6;
                background-color: black;
                cursor: pointer;
                box-shadow: 0 0 10px rgba(0,0,0, 0.15);
                transition: opacity 0.15s;
                }
            .subtext-illustration:hover img {
                opacity: 0.8;
            }
            .subtext-illustration:active img {
                opacity: 0.5;
            }

.div-three {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 128px 128px;
}
    .testimonial {
        font-size: 36px;
        font-style: italic;
        font-weight: lighter;
    }
    .testimonial-author {
        align-self: flex-end;
        font-size: 24px;
        font-weight: bold;
    }

.div-four {
    padding: 72px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .call-to-action-container {
        background-color: #3882F6;
        flex-basis: 600px;
        border-radius: 8px;
        color: #F9FAF8;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 24px 96px;
        align-items: center;
        line-height: 4px;
    }
        .call-to-action-text {
            font-size: 24px;
            font-weight: bold;
        }
        .sign-up-button-two {
            color: #F9FAF8;
            font-weight: bold;
            border: 1px solid #F9FAF8;
            background-color: #3882F6;
            padding: 6px 18px;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.25s, color 0.25s, opacity 0.15s;
        }
            .sign-up-button-two:hover {
                border: none;
                background-color: #F9FAF8;
                color: #3882F6;
                padding: 7px 19px;
            }
            .sign-up-button-two:active {
                opacity: 0.7;
            }


@media (min-width:1300px) {
    .div-one {
        padding: 24px 200px 72px;
    }
    .div-two {
        padding: 24px 200px 72px;
    }
    .div-three {
        padding: 128px 300px;
    }
    .div-four {
        padding: 72px 200px;
    }
}

@media (min-width: 1800px) {
    .div-one {
        padding: 24px 320px 72px;
    }
    .div-two {
        padding: 24px 320px 72px;
    }
    .div-three {
        padding: 128px 540px;
    }
    .div-four {
        padding: 72px 320px;
    }
}